@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 206 42% 8%;
    --foreground: 210 20% 96%;

    --card: 209 40% 11%;
    --card-foreground: 210 20% 96%;

    --popover: 209 40% 11%;
    --popover-foreground: 210 20% 96%;

    --primary: 168 65% 53%;
    --primary-foreground: 206 42% 8%;

    --secondary: 207 35% 18%;
    --secondary-foreground: 210 20% 96%;

    --muted: 207 35% 16%;
    --muted-foreground: 214 17% 72%;

    --accent: 194 65% 47%;
    --accent-foreground: 206 42% 8%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 210 20% 96%;

    --border: 206 32% 23%;
    --input: 206 32% 23%;
    --ring: 189 66% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark button {
    @apply bg-black text-white border-white/20;
  }
  .dark button.icon-only {
    @apply bg-transparent border-0 text-white;
  }
}

.path {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  animation: dash 6s ease-in-out infinite alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
